<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>handlebars project</title>
</head>
<body>
  {{> Card/index.hbs}}

  <img src="@public/images/test2.png" alt="">

  <div class="container">this is index page</div>

  <p class="ppp">build by {{upperCase 'aaaa'}}</p>
</body>
</html>